body {
  color: red;
  margin: 0;
  background-color: black; }

.bck {
  background-image: url("darkforest.jpg");
  height: 99vh;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.dark {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  background-image: url("/darker.jpg");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  height: 99vh; }

.title {
  color: #bf0000;
  font-size: 420px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  top: -10%;
  position: absolute;
  left: 0;
  right: 0; }

.backwards-n {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
  display: inline-block; }

.subs {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  position: relative;
  text-align: center;
  font-size: 40px; }

.subtitles {
  margin-top: -8%; }

.subs:last-of-type {
  color: #8d4d0c;
  font-size: 23px;
  text-decoration: overline;
  -webkit-text-decoration-color: red;
          text-decoration-color: red; }

#zombies {
  color: white;
  letter-spacing: 0.2em; }
