head
  <link href='/css/main.css' rel='stylesheet'>

body
div.pages
  h2 Clothing
    h3 Bite free clothing
      div(class="wrap")
        div(class='item6')
          img(class='tops' src='/fire.jpg')
        div(class='item6')
          img(class='tops' src='/fire.jpg')
        div(class='item6')
          img(class='tops' src='/fire.jpg')
        div(class='item1')
          img(class='tops' src='/fire.jpg')
        div(class='item2')
          img(class='tops' src='/fire.jpg')
