include head.pug

body
include nav.pug

div.pages
  h2 Food
  div(class='border')
  h3(id='garden') growing a garden
    div(class="wrap")
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item1')
        img(class='tops' src='/fire.jpg')
      div(class='item2')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')

  h3(id='canned') canned food
    div(class="wrap")
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item1')
        img(class='tops' src='/fire.jpg')
      div(class='item2')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item1')
        img(class='tops' src='/fire.jpg')
      div(class='item2')
        img(class='tops' src='/fire.jpg')

  h3(id='wheretofind') where to find
    div(class="wrap")
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
