<script src="https://use.fontawesome.com/4572b3aeb6.js"></script>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Oswald:300" rel="stylesheet">
<link href='/css/main.css' rel='stylesheet'>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<script src="/js/script.js"></script>
