doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Fjalla+One|Oswald:300|Roboto+Condensed:300', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
    link(href='css/style.css', rel='stylesheet')
    script(src='js/script.js')
  body
    div.bck
      div.title
        | RU
        span.backwards-n N
    div.prepare
      h1 How to Prepare
        p hey
        p ok
