include head.pug

body
include nav.pug

div.pages
  h2 Medical
  div(class='border')
  h3(id='symptoms') symptoms
    div(class="wrap")
      div(class='item6')
        img(class='tops' src='/trailsd.jpg')
      div(class='item6')
        img(class='tops' src='/trailsd.jpg')
      div(class='item6')
        img(class='tops' src='/trailsd.jpg')
      div(class='item1')
        img(class='tops' src='/trailsd.jpg')
      div(class='item2')
        img(class='tops' src='/trailsd.jpg')
      div(class='item6')
        img(class='tops' src='/trailsd.jpg')
      div(class='item6')
        img(class='tops' src='/trailsd.jpg')
      div(class='item6')
        img(class='tops' src='/trailsd.jpg')

  h3(id='firstaid') first aid
    div(class="wrap")
      div(class='item3')
        img(class='tops'  src='/trailsd.jpg')
      div(class='nested-items')
        div(class='item4')
          img(class='tops'  src='/trailsd.jpg')
        div(class='item5')
          img(class='tops'  src='/trailsd.jpg')

  h3(id='medication') medication
    div(class="wrap")
      div(class='item3')
        img(class='tops'  src='/trailsd.jpg')
      div(class='nested-items')
        div(class='item4')
          img(class='tops'  src='/trailsd.jpg')
        div(class='item5')
          img(class='tops'  src='/trailsd.jpg')
      div(class='item1')
        img(class='tops' src='/trailsd.jpg')
      div(class='item2')
        img(class='tops' src='/trailsd.jpg')
