include head.pug

body
  div(class='nav')
    ul
      li
        a(href='/skills.html' class='eye' id='eye')
          i(class="fa fa-eye-slash" aria-hidden="true")
      li
        a(href='/index.html' id='zom') THE Zombie Guide
