head
  <link href='/css/main.css' rel='stylesheet'>

body
div.pages
  h2 Safe Locations
    h3 Military Bases
      div(class='wrap')
        div(class='item6')
          img(class='tops' src='/fire.jpg')
        div(class='item6')
          img(class='tops' src='/fire.jpg')
        div(class='item6')
          img(class='tops' src='/fire.jpg')
        div(class='item1')
          img(class='tops' src='/fire.jpg')
        div(class='item2')
          img(class='tops' src='/fire.jpg')
        div(class='item6')
          img(class='tops' src='/fire.jpg')
        div(class='item6')
          img(class='tops' src='/fire.jpg')
        div(class='item6')
          img(class='tops' src='/fire.jpg')

    h3 Communities
      div(class='wrap')
        div(class='item1')
          img(class='tops' src='/fire.jpg')
        div(class='item2')
          img(class='tops' src='/fire.jpg')
        div(class='item1 space')
          img(class='tops' src='/fire.jpg')
        div(class='item2 space')
          img(class='tops' src='/fire.jpg')

    h3 Bunks
      div(class='wrap')
        div(class='item6')
          img(class='tops' src='/fire.jpg')
        div(class='item6')
          img(class='tops' src='/fire.jpg')
        div(class='item6')
          img(class='tops' src='/fire.jpg')
