head
  <link href='/css/main.css' rel='stylesheet'>

body


  div.pages
    h2 Weapons
      h3 guns
        div(class="row between-md")
          div(class='col-md-6')
              img(class='pico' src='/fire.jpg')
              img(class='pico' src='/fire.jpg')

        div(class="row")
          div(class='col-sm-5')
            img(class='biggie' src='/fire.jpg')
          div(class='col-sm-4')
            img(class='tops' src='/fire.jpg')
            img(class='tops' src='/fire.jpg')

      h3 knives
      h3 household items
