include head.pug

body


include nav.pug

div(class='pages')

  h2 Weapons

  div(class='border')
  h3(id='guns') guns
    div(class="wrap")
      div(class='item1')
        img(class='tops' src='/casing2.jpg')
      div(class='item2')
        img(class='tops' src='/casing2.jpg')
      div(class='item3')
        img(class='tops'  src='/casing2.jpg')
      div(class='nested-items')
        div(class='item4')
          img(class='tops'  src='/casing2.jpg')
        div(class='item5')
          img(class='tops'  src='/casing2.jpg')

  h3(id='knives' class='less-padding') knives
    div(class="wrap")
      div(class='item3')
        img(class='tops'  src='/knife.jpg')
      div(class='nested-items')
        div(class='item4')
          img(class='tops'  src='/knife.jpg')
        div(class='item5')
          img(class='tops'  src='/knife.jpg')
      div(class='item1')
        img(class='tops' src='/knife.jpg')
      div(class='item2')
        img(class='tops' src='/knife.jpg')

  h3(id='household') household items
    div(class="wrap")
      div(class='item1')
        img(class='tops' src='/axe.jpg')
      div(class='item2')
        img(class='tops' src='/axe.jpg')
      div(class='item6')
        img(class='tops' src='/axe.jpg')
      div(class='item6')
        img(class='tops' src='/axe.jpg')
      div(class='item6')
        img(class='tops' src='/axe.jpg')
      div(class='item1')
        img(class='tops' src='/axe.jpg')
      div(class='item2')
        img(class='tops' src='/axe.jpg')
