head
  <link href='/css/main.css' rel='stylesheet'>

body


div.pages
  h2 Weapons
  h3 guns
    div(class="wrap")
      div(class='item1')
        img(class='tops' src='/fire.jpg')
      div(class='item2')
        img(class='tops' src='/fire.jpg')
      div(class='item3')
        img(class='tops'  src='/fire.jpg')
      div(class='nested-items')
        div(class='item4')
          img(class='tops'  src='/fire.jpg')
        div(class='item5')
          img(class='tops'  src='/fire.jpg')

  h3 knives
    div(class="wrap")
      div(class='item3')
        img(class='tops'  src='/fire.jpg')
      div(class='nested-items')
        div(class='item4')
          img(class='tops'  src='/fire.jpg')
        div(class='item5')
          img(class='tops'  src='/fire.jpg')
      div(class='item1')
        img(class='tops' src='/fire.jpg')
      div(class='item2')
        img(class='tops' src='/fire.jpg')

  h3 household items
    div(class="wrap")
      div(class='item1')
        img(class='tops' src='/fire.jpg')
      div(class='item2')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item6')
        img(class='tops' src='/fire.jpg')
      div(class='item1')
        img(class='tops' src='/fire.jpg')
      div(class='item2')
        img(class='tops' src='/fire.jpg')
